/* banner & content */

/*.wrapper{
  background: #38618C;
}
.banner {
  background-image: url('beer.jpg'), linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  font-family: 'Space Mono', sans-serif;
  color: #35A7FF;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  margin-top:  3.125rem;
}

.header h1 {
  font-size: 3rem;
  font-family: 'BioRhyme', serif;
}

.header-typed-text {
  text-align: center;
  font-size: 1rem;
  color: #FFFFFF;
}*/

.image_url img{
  height: 300px;
  width: 85px;
}

/* beer details */

.food-pairing-list li{
  list-style-type: none;
}

/* header */


