* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  margin: 0 auto;
  background-color: #38618C;
}

.wrapper{
  background: #38618C;
}
.banner {
  align-items: center;
  font-family: 'Space Mono', sans-serif;
  color: #35A7FF;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  margin-top:  3.125rem;
}

.header h1 {
  font-size: 3rem;
  font-family: 'BioRhyme', serif;
}

.name h2 {
  color: #FFFFFF !important;
}
.header-typed-text {
  text-align: center;
  font-size: 1rem;
  color: #FFFFFF;
}

#typed-strings{
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* media queries */
@media only screen and (max-width: 1000px) {
  .header h1 {
    font-size: 1rem;
  }
  #typed-strings {
    font-size: .75rem;
  }
  .searchbar input {
    width: 10rem !important;
    font-size: .50rem !important;
  }
  .searchbar-submit a {
    font-size: 1rem;
  }
  .name {
    font-size: 1.50rem;
  }
  .tagline {
    font-size: 1rem;
  }
  .food-pairing {
    font-size: 1rem;
  }
  .food-pairing-list {
    font-size: .75rem;
    padding: 0rem 1rem
  }
  .description {
    font-size: .75rem;
    padding: 0rem 1rem
  }
  .brewers-tips {
    font-size: 1rem;
  }
  p {
    font-size: .75rem;
    padding: 0rem 1rem
  }
}

@media only screen and (max-width: 700px) {
}

@media only screen and (max-width: 470px){

}

